.about {
    padding-bottom: 2rem;
    &__bio-image {
        height: 70vh;
        width: 99vw;
        background: linear-gradient(to bottom, rgba($secondary-color, 0.9), rgba($primary-color, 0.3)),
            url("../images/IMG_20200313_195323.jpg") center;
        background-size: cover;
        // background-position: center;
        text-align: right;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        align-items: right;
        justify-content: flex-end;
    }
    p {
        margin-bottom: 2rem;
        color: white;
    }
    &__bio {
        width: 80%;
        text-align: center;
        .text-secondary {
            padding-bottom: 1rem;
        }
    }
    .jobs {
        width: 60vw;
        margin: 2em auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        &__job {
            background: lighten($primary-color, 10%);
            padding: 0.5rem;
            border-bottom: 5px solid $accent-color;

            h3,
            h2 {
                margin: 0.5rem 0;
            }
            h6 {
                margin: 0.3rem 0;
            }
        }
    }
}

.social-icons-about {
    display: flex;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    flex-direction: column;
    padding-top: 2rem;
    a {
        padding: 0.4rem;
        @include transition-ease;
        &:hover {
            color: $secondary-color;
        }
    }
}
.footer-about {
    transform: rotate(90deg) {
        translate: (-3rem, -5rem);
    }
    right: 0.6rem;
    bottom: 4rem;
}
