* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0%;
  margin: 0;
}

.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: leniar-gradient(to right, rgba(60, 60, 60, 0.9), rgba(60, 60, 60, 0.3));
  background-size: cover;
}

.home-name {
  color: #fff;
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: 2px solid rgba(30, 223, 120, 0.575);
}

.home-name__last {
  color: #3c3c3c;
  font-weight: 700;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 25px;
  height: 3px;
  background: rgba(30, 223, 120, 0.575);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: rgba(30, 223, 120, 0.575);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: rgba(30, 223, 120, 0.575);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #000;
  list-style-type: none;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav .menu-nav__item {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__item.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav .menu-nav__item.active > a {
  color: rgba(30, 223, 120, 0.575);
}

.nav .menu-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: wrap-reverse;
          flex-flow: wrap-reverse;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__link:hover {
  color: #3c3c3c;
}

.menu-nav__link:nth-child(1) {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-nav__link:nth-child(2) {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

.menu-nav__link:nth-child(3) {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

.menu-nav__link:nth-child(4) {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.95s;
          transition-delay: 0.95s;
}

.about {
  padding-bottom: 2rem;
}

.about__bio-image {
  height: 70vh;
  width: 99vw;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(60, 60, 60, 0.9)), to(rgba(0, 0, 0, 0.3))), url("../images/IMG_20200313_195323.jpg") center;
  background: linear-gradient(to bottom, rgba(60, 60, 60, 0.9), rgba(0, 0, 0, 0.3)), url("../images/IMG_20200313_195323.jpg") center;
  background-size: cover;
  text-align: right;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about p {
  margin-bottom: 2rem;
  color: white;
}

.about__bio {
  width: 80%;
  text-align: center;
}

.about__bio .text-secondary {
  padding-bottom: 1rem;
}

.about .jobs {
  width: 60vw;
  margin: 2em auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.about .jobs__job {
  background: #1a1a1a;
  padding: 0.5rem;
  border-bottom: 5px solid rgba(30, 223, 120, 0.575);
}

.about .jobs__job h3,
.about .jobs__job h2 {
  margin: 0.5rem 0;
}

.about .jobs__job h6 {
  margin: 0.3rem 0;
}

.social-icons-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
}

.social-icons-about a {
  padding: 0.4rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.social-icons-about a:hover {
  color: #3c3c3c;
}

.footer-about {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  transform-translate: -3rem, -5rem;
  right: 0.6rem;
  bottom: 4rem;
}

.projects {
  padding-bottom: 2rem;
}

.projects__bio-image {
  height: 70vh;
  width: 99vw;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(60, 60, 60, 0.9)), to(rgba(0, 0, 0, 0.3))), url("../images/IMG_20200313_195323.jpg") center;
  background: linear-gradient(to bottom, rgba(60, 60, 60, 0.9), rgba(0, 0, 0, 0.3)), url("../images/IMG_20200313_195323.jpg") center;
  background-size: cover;
  text-align: right;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projects .text-secondary {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 2rem;
  text-align: center;
}

.projects__items {
  width: 60vw;
  margin: 2em auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.projects__item {
  position: relative;
  border-bottom: 5px solid rgba(30, 223, 120, 0.575);
  overflow: hidden;
  cursor: pointer;
}

.projects__item img {
  width: 100%;
}

.projects__item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #3c3c3c;
  opacity: 0.8;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects__item:hover::after {
  top: 0;
  opacity: 0.9;
}

.projects__item:hover .projects__btn {
  opacity: 1;
}

.projects__btns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.projects__btns a {
  color: #000;
}

.projects__btn {
  opacity: 0;
  color: #000;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects__btn:hover {
  color: rgba(30, 223, 120, 0.575);
}

.social-icons-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
}

.social-icons-about a {
  padding: 0.4rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.social-icons-about a:hover {
  color: #3c3c3c;
}

.footer-about {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  transform-translate: -3rem, -5rem;
  right: 0.6rem;
  bottom: 4rem;
  right: -2rem;
}

.contact {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: leniar-gradient(to right, rgba(60, 60, 60, 0.9), rgba(60, 60, 60, 0.3));
  background-size: cover;
}

.contact h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.contact__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-size: 1rem;
}

.contact .social-icons {
  position: initial;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    height: 100%;
    background: transparent;
    text-align: center;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-left: 10rem;
  }
  .nav .menu-nav__link {
    font-size: 1rem;
    display: inline;
    padding-left: 1.5rem;
  }
  .about__bio {
    margin-left: 5rem;
    font-size: 1.5rem;
    color: black;
  }
  .projects__bio-image {
    height: 40vh;
  }
  .projects__items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .projects .text-secondary {
    font-size: 3rem;
  }
  .contact__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .projects__items {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    height: 100%;
    background: transparent;
    text-align: center;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-left: 20rem;
  }
  .nav .menu-nav__link {
    font-size: 1rem;
    display: inline;
    padding-left: 1.5rem;
  }
  .contact__list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    height: 100%;
    background: transparent;
    text-align: center;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-left: 35rem;
  }
  .nav .menu-nav__link {
    font-size: 1rem;
    display: inline;
    padding-left: 1.5rem;
  }
  .projects__bio-image {
    height: 50vh;
    background-attachment: inherit;
  }
  .about__bio p {
    padding-left: 9rem;
  }
}

body {
  background: #000;
  color: rgba(30, 223, 120, 0.575);
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1,
h2,
h3 {
  color: #fff;
  font-weight: 400;
}

a {
  color: rgba(30, 223, 120, 0.575);
  text-decoration: none;
}

.text-secondary {
  color: #fff;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}

main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

main .social-icons a {
  padding: 0.4rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

main .social-icons a:hover {
  color: #3c3c3c;
}

footer {
  position: fixed;
  font-size: 1rem;
  bottom: 1rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: rgba(30, 223, 120, 0.575);
}
/*# sourceMappingURL=main.css.map */